// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Transition
$global-transition: all .2s;


// *****************
// Color Variables
// *****************
// Primary Brand Colors
$brand-color: #01B448;        // Green - primary accent
$brand-color-hover: #003AA7;  // Dark Blue - hover states
$link-color: #0080DF;          // Light Blue - links and highlights

// Neutral Colors
$dark: #474747;                // Dark Grey - text color
$gray: #6B6B6B;                // Medium Grey - secondary text
$light-gray: #D0D0D0;          // Light Grey - borders
$white: #FFFFFF;               // White - cards and sections
$off-white: #FAFAFA;           // Off-white - background

// Body Color
$text-color: $dark;

// Background Colors
$background-color: $off-white;


// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Josefin Sans', sans-serif;
$base-line-height: 1.7;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Lato', Arial, sans-serif; 
$heading-color: $text-color;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.4em;