<div class="booking-container">
<!-- Google Calendar Appointment Scheduling begin -->
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() {
  var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ3SYiwGRf5pwNFS4RxI48hJnZ_21LyOF8PssPPRVAc-z35jYTE_FPOjr0CB4I9iyoX454qm-8bt?gv=true',
      color: '#323a96',
      label: '{{ i18n "book_appointment" }}',
      target,
    });
  });
})();
</script>
<!-- end Google Calendar Appointment Scheduling -->
</div>